@font-face {
    font-family: charmonmanBold;
    src: url(fonts/Charmonman-Bold.ttf)
}
@font-face {
    font-family: charmonman;
    src: url(fonts/Charmonman-Regular.ttf)
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

body {
    margin:0;
    border:0;
    padding:0;
    background-color: black;
}
#container { 
    opacity: 0;
    display:block;
    position:absolute;
    transition: opacity 2s;
}

@keyframes left {
    0% {}
    20% { margin-left:-10px; }
    100% { margin-left:-15px; }
}
@keyframes right {
    0% {}
    70% { margin-left:10px; }
    100% { margin-left:15px; }
}
@keyframes up {
    0% {}
    20% { margin-top:-10px; }
    100% { margin-top: -15px; }
}
@keyframes down {
    0% {}
    70% { margin-top:10px; }
    100% { margin-top:15px; }
}

@keyframes firefly {
    0% { opacity: 0; }
    20% { opacity: 0.8; }
    100% { opacity: 0; }
}