@media (min-width: 770px) {
    body {
        width: 600px;
        line-height: 1.5;
    }

    main#content hr {
        width: 108%;
        margin-left: -3.8%;
    }

    /* index.html styles */
    header#banner h2 {
        font-size: 25px;
        font-size: 2.5rem;
    }

    main#content h3 {
        font-size: 20px;
        font-size: 2rem;
    }

    main#content ul#posts {
        font-size: 18px;
        font-size: 1.8rem;
    }

    /* single.html styles */
    main#content header#post-header h1 {
        font-size: 26px;
        font-size: 2.6rem;
    }

    main#content img {
        max-width: 108%;
        margin-left: -3.8%;
    }

    main#content figure {
        margin-left: -3.8%;
    }

    main#content figure img {
        max-width: 108%;
    }

    main#content pre {
        width: 108%;
        margin-left: -3.8%;
        padding: 1.5rem 2.2rem;
    }

    .circle {
        position: relative;
        margin-left: -40px;
    }
}

@media (max-width: 770px) {
    .circle:before,
    .circle:after {
        box-shadow: inset 2px 0 0 rgba(255, 0, 0, 0.5),
            inset 0 2px 0 rgba(252, 150, 0, 0.5),
            inset -2px 0 0 rgba(0, 255, 0, 0.5),
            inset 0 -2px 0 rgba(0, 150, 255, 0.5);
    }

    .circle:before {
        transform: rotate(-400deg);
    }

    .circle:after {
        transform: rotate(-355deg);
    }

    .circle>span,
    .circle>span:before,
    .circle>span:after{
        background-color: red;
    }

    .circleLink {
        text-decoration: none !important;
    }
}
